.formC {
  width: 50%;
  height: 70vh;
  border: 1px solid rgb(235, 232, 232);
  margin: 25px auto;
  padding: 50px 15px;
  border-radius: 20px;
  box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.1);
}
.formC .mt-auto {
  text-align: center;
  width: auto;
  margin: auto;
  color: royalblue;
}
.btn {
  width: 100%;
  background-color: royalblue;
}

span {
  font-size: 1.2rem;
  font-weight: 800;
}
